h1	{ text-align: center; }
.date { text-align: center; }
.header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

