{% extends "layout.html" %}
{% block timeline %}
	
		{% block options %}
			<div class="row">
				<form action="{{ url_for('index') }}" method="get" class="form-inline text-center">
						<div class='form-group form-group-sm' id='queuepicker'>
							<select name='queue' class='form-control'>
								<option value='1'{{ ' selected' if queue|int == 1 }}>Help Desk</option>
								<option value='18'{{ ' selected' if queue|int == 18 }}>Client Management</option>
							</select>
						</div>
					<div class='form-group form-group-sm'>
						<div class="input-daterange input-group" id="datepicker">
							<input type="text" class="form-control" id="start" name="start" value="{{ start.strftime('%-m/%-d/%Y') }}" />
							<span class="input-group-addon">to</span>
							<input type="text" class="form-control" id="end" name="end"  value="{{ end.strftime('%-m/%-d/%Y') }}" />
						</div>
					</div>
					<input type="submit" class="btn btn-primary input-sm" value="Go!" />
					<span class="small">
					    &nbsp;&nbsp;<a href="{{ url_for('index') }}">reset</a>
					</span>
				</form>
			<div class="text-center">
			   <a href="#" id="day">day</a> /
			   <a href="#" id="week">week</a> /
			   <a href="#" id="month">month</a>
			</div>
			</div>
		{% endblock %}
	
    {% if data %}
	<div class="row">
	
        {% for date, changes in data.iteritems() %}
		
        <h3 class="date">{{ date.strftime("%A, %B %d") }}</h3>
		
        <table class="table">
			{% for change in changes %}
			<tr{{ (' class="text-muted small"' | safe) if change.HD_STATUS_ID == 100 or change.HD_STATUS_ID == 2 }}><td>
				<p>
					<span class="text-muted">{{ change.TIMESTAMP.strftime("%I:%M %p") }} - </span>
					<span class="text-info">{{ change.USER_NAME }}</span>
				</p>
				<p>
					{{ ('<em>(Closed)</em> ' | safe) if change.HD_STATUS_ID == 100 or change.HD_STATUS_ID == 2 }}
					<a href="https://kaceapp.evergreen.edu/userui/ticket.php?ID={{ change.HD_TICKET_ID }}" target="_blank">{{ change.TITLE }}</a>
					{% if change.DESCRIPTION %}<small> - {{ change.DESCRIPTION }}</small>{% endif %}
				</p>
				<p>{% for line in change.COMMENT %}{{ line }}{% if loop.revindex0 > 0 %}<br />{% endif %}{% endfor %}
			</td></tr>
			{% endfor %}
			<tr><td></td></tr>
		</table>
		
		{% endfor %}
	
	</div>
    {% endif %}

{% endblock %}
