{% extends "layout.html" %}
{% block body %}

<div class="content">

    <h1 class="title">KACELINE</h1>
    <hr />

    {% if entries %}
        <ul class="timeline">
        {% for ticket in entries %}
        {% for entry in ticket %}
	    <li><span class="date">{{ entry.TIMESTAMP.strftime("%b %m %Y, %I:%M%p") }}</span>{% if entry.DESCRIPTION %} - <span class="description">{{ entry.DESCRIPTION }}</span>{% endif %}

	        <pre class="comment">{{ entry.COMMENT }}</pre>
            </li>
	{% endfor %}
	{% endfor %}
	</ul>
    {% endif %}

</div>

{% endblock %}