{% extends "layout.html" %}
{% block body %}

<div class="container">

    <img src="{{ url_for("static", filename="header.png") }}" class="header-img" />
    
    <br />

    <form action="{{ url_for("index") }}" method=get class="date-range">
	<div class="btn-group">
        {% if time == "day" %}
			<input class="btn btn-primary" type="submit" name="time" value="day" />
		{% else %}
			<input class="btn btn-default" type="submit" name="time" value="day" />
		{% endif %}
    	
		{% if time == "week" %}
			<input class="btn btn-primary" type="submit" name="time" value="week" />
		{% else %}
			<input class="btn btn-default" type="submit" name="time" value="week" />
		{% endif %}
		
		{% if time == "month" %}
			<input class="btn btn-primary" type="submit" name="time" value="month" />
		{% else %}
			<input class="btn btn-default" type="submit" name="time" value="month" />
		{% endif %}
	</div>
    </form>

    {% if data %}
        {% for date, changes in data.iteritems() %}
		
        <h3 class="date">{{ date.strftime("%A, %B %d") }}</h3>
		
        <table class="table">
			{% for change in changes %}
			<tr><td>
				<p>
					<span class="text-muted">{{ change.timestamp.strftime("%I:%M %p") }} - </span>
					<span class="">{{ change.submitter_name }}</span>
				</p>
				<h5>
					<a href="https://kaceapp.evergreen.edu/userui/ticket.php?ID={{ change.ticket_id }}">{{ change.ticket_title }}</a>
					{% if change.description %}<small> - {{ change.description }}</small>{% endif %}
				</h5>
				<p>{% for line in change.comment %}{{ line }}{% if loop.revindex0 > 0 %}<br />{% endif %}{% endfor %}
			</td></tr>
			{% endfor %}
		</table>
		
		{% endfor %}
    {% endif %}

</div>

{% endblock %}
